@{
    Bundles.Reference("/Content/Site.css");
    Bundles.Reference("/Scripts/lib");
    Bundles.Reference("/Scripts");
    Bundles.Reference("signalr");
}

<!DOCTYPE html>

<html>
@*<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/lib/jquery.signalR-2.1.1.min.js"></script>
    <script src="~/Scripts/knockout-3.1.0.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.js"></script>

    <script src="~/signalr/hubs"></script>
    </head>*@
    
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        @Bundles.RenderStylesheets()
        @Bundles.RenderScripts()
        @RenderSection("JavaScript", false)
    </head>
    



    

<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>

